{% extends 'account/base.html' %}

{% block content %}
<form method="POST" class="form-signin">
    {% csrf_token %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>

    {% if error %}
    <div role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    </div>
    {% endif %}

    <div class="form-label-group">
        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required
            autofocus>
    </div>

    <div class="form-label-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    </div>

    <div class="form-label-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <div class="text-center m-4">
        <p>Already have a account? <a href="{% url 'signin' %}">Signin</a></p>
      </div>
    <p class="mt-2 mb-3 text-muted text-center">&copy; 2017-2020</p>
</form>
{% endblock %}
